name: Build Docker Image

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: List Files (debug)
        run: ls -R

      - name: Build Docker Image
        run: docker build . -f Dockerfile -t my-image:latest

      - name: Run Docker Container (optional test)
        run: docker run -d -p 8000:8000 my-image:latest
