name: Docker Build

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Show files in workspace
        run: ls -R .

      - name: Build Docker Image
        run: docker build . -f Dockerfile -t my-image-name:${{ github.run_number }}
